<div class="input">
  <%= field.text_field :note, :class => "medium pull-left", :style => "margin-right:5px" %>
  <div class="input-prepend">
    <span class="add-on">$</span>
    <%= field.number_field :amount, :class => "mini", :step => "any" %>
  </div>
</div>
