<% if @invoice.not_yet_used? %>
  <%= render 'form' %>
<% else %>
  <div class="alert-message error">
    Sorry, you cannot edit a link through which at least one payment has occurred.
  </div>
<% end %>

