<div class="alert-message" style="text-align:center">
  This site is no longer maintained. Check out <%= link_to "spacebox.io", "http://spacebox.io?utm_source=hipay.me" %> for a nice(r) alternative
</div>
