<p class="alert-message success">
  A copy of the receipt has been sent to <%= @payment.email %>
</p>

<h2>
  Thanks for using <%= link_to "hipay.me", root_url %>
</h2>
<h2>Like to collect payments with us? <%= link_to "Sign up", root_url %> now.</h2>
