// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clear {
    clear: both;
}
#broughtby-image a {
  margin-bottom: 20px;
}
#broughtby {
}

span.last4{
  color: #333;
}
span.timestamp{
  padding-left: 15px;
  color: #999;
  font-style: italic;
}
span.money{
  color: green;
}
span.more_padding{
  padding: 5px 8px;
}

section.reason p, section.reason li {
  font-size: 16px;
}
section.reason p{
  color: #666;
  line-height: 24px;
}
section.reason li{
  line-height: 30px;
}
ul.dashboard_links a {
  font-size: 18px;
  line-height: 30px;
}

div#error_explanation {
  background: #FAE5E3;
  padding: 10px 0;
  margin: -10px 0 1px;

  h2 {
    color: brown;
  }
  
  ul {
    padding-left: 20px;
  }
}

