// Place all the styles related to the invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.invoice_logo img{
  max-width: 940px;
  max-height: 180px;
}

ul.payment_footnotes {
  margin: 0;
  font-size: 70%;
  li {
    display: inline;
  }
}

table.active_payments {
  th.total_collected {
    width: 120px;
  }

  th.action {
    width: 140px; 
  }

  td.action {
    text-align: center;
  }
  
  font-size: 90%;
}
